# Bangalore house price orediction

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import the data set
df=pd.read_csv('C:\\Users\\u\\Desktop\\Analysis data\\bangalore house price prediction OHE-data.csv')
df

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.00,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.00,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.00,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.00,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.00,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#define the dependent variable
# all column is x (independent feature) and only price is y (dependent feature)
x= df.drop('price', axis=1)
y= df['price']
print('shape of x =',x.shape)
print('shape of y =',y.shape)

shape of x = (7120, 107)
shape of y = (7120,)

In [5]:
#Split the data into train and test with the help of sklearn library
#import train test split
from sklearn.model_selection import train_test_split

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 50)

print('shape of x_train = ', x_train.shape)
print('shape of y_train = ', y_train.shape)
print('shape of x_test = ', x_test.shape)
print('shape of y_test = ', y_test.shape)

shape of x_train =  (5696, 107)
shape of y_train =  (5696,)
shape of x_test =  (1424, 107)
shape of y_test =  (1424,)

In [7]:
#Feature scaling
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

## Polynomial Linear regression, model training

In [8]:
#Import LinearRegression and PolynomialFeatures from sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [9]:
#fit the data set and transform 
poly_reg = PolynomialFeatures(degree = 2)
poly_reg.fit(x_train)
x_train_poly = poly_reg.transform(x_train)
x_test_poly = poly_reg.transform(x_test)

In [10]:
x_train_poly.shape, x_test_poly.shape

((5696, 5886), (1424, 5886))

In [11]:
# Fit the model in LinearRegression (Polynomial regression)

lr =LinearRegression()

lr.fit(x_train_poly, y_train)

LinearRegression()

In [12]:
#Score of the model

lr.score(x_test_poly, y_test,)

0.9997796147847844

In [13]:
#Predict the value of first home (0th row and all column [x_test_poly[0,:])

lr.predict([x_test_poly[0,:]])

array([36.29])

In [14]:
#Predicted values are below from our model
y_pred = lr.predict(x_test_poly)
y_pred

array([ 36.29, 124.  ,  67.  , ...,  74.  ,  44.8 ,  84.  ])

In [15]:
#Actual values are
y_test

3813     36.29
2623    124.00
5318     67.00
6292    155.00
2354    130.00
         ...
768     170.00
6591     52.00
4368     74.00
3090     44.80
5017     84.00
Name: price, Length: 1424, dtype: float64

In [16]:
# import mean_squared_error from sklearn and find cost function(MSE, RMSE)

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('MSE is =', mse)
print('RMSE is =', rmse)

MSE is = 3.1137545750472073
RMSE is = 1.7645833998559568